<div class="dialog__header">
  <h2 mat-dialog-title>Order Details</h2>
  <button mat-icon-button aria-label="close dialog" mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</div>
<mat-dialog-content *ngIf="orderDetails; else empty">
  <div *ngFor="let item of orderDetails.items" class="dialog__content">
    <div class="dialog__content__wrapper">
      <h3>{{item.productId}}</h3>
      <div class="dialog__content__wrapper-header">
        <span class="dialog__content__wrapper-heading">{{item.unitPrice}}€</span>
        <div>
          <span>Q:</span>
          <span>{{item.quantity}}</span>
        </div>
      </div>
    </div>
    <div>
      <a *ngIf="orderDetails.isPlaced" class="button fancy-button" (click)="removeItem(item)"><i class="material-icons">delete</i></a>
    </div>
  </div>
  <div class="dialog__total">
    <p>Total:</p>
    <span>{{orderDetails.total | number : '1.2-2'}}€</span>
  </div>
</mat-dialog-content>
<ng-template #empty>
  <h3>No Items added!</h3>
</ng-template>
<mat-dialog-actions class="dialog__footer">
  <button *ngIf="orderDetails && orderDetails.isPlaced" mat-raised-button color="primary"  (click)="placeOrder(orderDetails)"mat-dialog-close>Place Order</button>
  <button mat-raised-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
